<h1>Mario's Specialty Products</h1>
<h2><%= link_to "Add a New Product:", new_product_path %></h2>
<div class="row">
  <% @products.each do |product| %>
    <div class="product col-md-3">
      <h4><%= link_to product.name, product_path(product) %></h4>
      <h5><%= product.origin %></h5>
      <h6><%= product.cost %></h6>
    </div>
  <% end %>
</div>
